amqp
asgiref
async-timeout
attrs
billiard
braintree
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
cryptography
defusedxml
Django
django-appconf
django-autoslug
django-celery-email
django-cloudinary-storage
django-cors-headers
django-countries
django-environ
django-filter
django-js-asset
django-phonenumber-field
django-ratelimit
djangorestframework
djangorestframework-api-response
djangorestframework_simplejwt
django-templated-mail
djoser
drf-spectacular
Faker
flake8
flower
humanize
idna
inflection
jsonschema
jsonschema-specifications
kombu
mccabe
msgpack
oauthlib
packaging
phonenumbers
pillow
pip-review
prometheus_client
prompt_toolkit
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyJWT
python3-openid
python-dateutil
pytz
PyYAML
redis
referencing
requests
requests-oauthlib
rpds-py
six
social-auth-app-django
social-auth-core
sqlparse
stripe
structlog
tornado
typing_extensions
tzdata
uritemplate
urllib3
vine
watchdog
wcwidth
