[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-environ = "*"
psycopg2-binary = "*"
django-autoslug = "*"
django-countries = "*"
django-filter = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djoser = "*"
django-cloudinary-storage = "*"
drf-spectacular = "*"
faker = "*"
celery = "*"
redis = "*"
django-celery-email = "*"
stripe = "*"
django-ckeditor-5 = "*"
braintree = "*"
cloudinary = "*"
djangorestframework-api-response = "*"
amqp = "*"
asgiref = "*"
async-timeout = "*"
attrs = "*"
billiard = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
cryptography = "*"
defusedxml = "*"
django-appconf = "*"
django-js-asset = "*"
django-templated-mail = "*"
flower = "*"
kombu = "*"
idna = "*"
inflection = "*"
jsonschema = "*"
jsonschema-specifications = "*"
oauthlib = "*"
prompt-toolkit = "*"
pycparser = "*"
pyjwt = "*"
python-dateutil = "*"
python3-openid = "*"
pytz = "*"
pyyaml = "*"
referencing = "*"
requests = "*"
requests-oauthlib = "*"
rpds-py = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
typing-extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
watchdog = "*"
wcwidth = "*"

[dev-packages]

[requires]
python_version = "3.12"
